body {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}

input {
  margin: 20px 5px;
}

a {
  color: #FC772A; /* Dunkin' Donuts orange */
}

b {
  color: #D81860; /* Dunkin' Donuts pink */
}

.pure-button-primary {
  background-color: #D81860;
}

#surveys-completed {
  margin: 20px 0;
  color: #AFAFAF;
}

#content-wrapper {
  width: 460px;
  margin: auto;
}

#survey-code-1, #survey-code-2 {
  width: 70px;
}

#survey-code-3, #survey-code-4 {
  width: 60px;
}

#submit-status {
  display: none;
  font-style: italic;
  margin-top: 20px;
}

#facebook-like-button {
  position: absolute;
  top: 15px;
  right: 0;
  width: 90px;
  overflow: hidden;
}
